.add-restaurant{
    display: flex;
    justify-content: flex-end
}

.add-restaurant > a{
    text-decoration: none;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0 0 2rem 0;
    border: 0;
    color: #fff;
    border-radius: 0.5rem;
    background-color: #7d7abc;
    padding: 5px 1rem;
    font-weight: bold;
}

.add-restaurant:hover {
    color: #fff;
}

.add-restaurant > a > svg{
    width: 20px;
    margin-right: 5px;
}

#restaurants_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 6rem;
    margin-bottom: 5rem;
}

#restaurants_list a:link, #restaurants_list a:visited {
    text-decoration: none;
    color: black;
}

.card h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0;
}

.card {
  width: 350px;
  height: 450px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border: 0;
  border-radius: 10px;
}

.card span {
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    background-color: #FFD97D;
    padding: 0.2rem;
    border: 2px solid #FEFEFA;
    z-index: 1;
}

.card span > img {
    width: 2rem;
    height: 2rem;
}

.card .favorite {
    position: absolute;
    font-size: 2rem;
    top: 15px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
}

.card .fa-bounce {
    /*color: #f4d03f;*/
    color: #FF9B85;
    animation-iteration-count:2;
}

.card .fa-regular {
    color: #fff;
}

.card .card-rating {
    position: absolute;
    font-size: 15px;
    bottom: 5px;
    right: 15px;
    z-index: 1;
    margin-bottom: 0.5rem;
}

.card:hover .card-image {
  transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
  transform: scale(1.2);
}

.card-content {
  width: 100%;
  height: 45%;
  text-align: center;
  background-color: #FFD97D;
  padding: 0 60px 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.card-content::before{
  content: "";
  width: 100%;
  height: 120px;
  background-color: inherit;
  position: absolute;
  left: 0;
  top: -80px;
  clip-path: ellipse(60% 80px at bottom center);
  z-index: -1;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 1em;
  text-align: center;
}

.card-text {
  font-size: 0.75rem;
  text-align: center;
}

.card-image {
  width: 100%;
  height: 60%;
  object-fit: cover;
  object-position: center;
}

.card-content svg {
    width: 30px;
    padding: 5px;
    bottom: 5px;
    position: absolute;
    margin-bottom: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.card-edit {
    border: 1px solid #7d7abc;
    stroke: #7d7abc;
    fill: #7d7abc;
    left: 15px;
}

.card-edit:hover {
    background-color: #7d7abc;
    stroke: #FFD97D;
    fill: #FFD97D;
}

.card-delete {
    border: 1px solid #EE6055;
    fill: #EE6055;
    left: 50px;
}

.card-delete:hover {
    background-color: #EE6055;
    fill: #FFD97D;
}
