#comments-section{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100vh;
}

#comments-box {
    padding: 1rem 1.5rem;
    width: 100%;
    position: relative;
    overflow-y: scroll;
    flex: 1;

    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #ffe347;
        border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #ffe347;
    }
}

#comments-section > h1{
    color: #ffe347;
    font-weight: 800;
    flex: 0 0 auto;
}

.comment {
    width: 100%;
    background-color: #fff;
    padding: 1rem 2rem;
    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;*/
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border: 0;
    border-radius: 10px;
    margin-bottom: 1rem;
    position: relative;
}

.comment svg {
    width: 30px;
    padding: 5px;
    bottom: 5px;
    position: absolute;
    margin-bottom: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.comment-user-data {
    width: 100%;
    text-align: end;
    margin-bottom: 0.6rem;
}

.comment-user-data h5, .comment-user-data h6 {
    display: inline;
    color: #7d7abc;
}

 #add-comment-box > h6 {
     font-weight: 800;
     color: #7d7abc;
 }

#add-comment-box textarea {
    background-color: #fff;
    padding: 1rem 2rem;
    width: 100%;
    border: 2px solid #7d7abc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 1rem;
}

#add-comment-box button {
    font-size: large;
    background-color: #7d7abc;
    border: 0;
    border-radius: .5rem;
    color: #FFD97D;
    padding: .5rem;
    font-weight: bold;
    width: 100%;
}

.comment #delete-button {
    border: 1px solid #EE6055;
    fill: #EE6055;
}

.comment #delete-button:hover {
    background-color: #EE6055;
    fill: #fff;
}

.comment #edit-button {
    left: 2rem;
    top: 1rem;
}

.comment #edit-button {
    border: 1px solid #7d7abc;
    stroke: #7d7abc;
    fill: #7d7abc;
}

.comment #edit-button:hover {
    background-color: #7d7abc;
    stroke: #fff;
    fill: #fff;
}

.comment #delete-button {
    left: calc(2rem + 35px);
    top: 1rem;
}

#user-comment-box {
    background-color: #fff;
    margin-top: 1.5rem;
    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;*/
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    padding: 1rem 2rem;
    flex: 0 0 auto;
}

#comments-paginator {
    padding-top: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

#comments-paginator .selected {
    background-color: #7d7abc;
    color: #ffe347;
}

#comments-paginator a{
    text-decoration: None;
    border: 2px solid #7d7abc;
    border-radius: 0.5rem;
    margin: 0 0.25rem;
    color: #7d7abc;
    font-weight: bold;
}

#comments-paginator a:hover{
    background-color: #7d7abc;
    color: #ffe347;
}

/*SCROLLBAR EXEMPLE*/

