{% extends "base_navbar.html" %}
{% load static %}
{% block extra_head%}
<link rel="stylesheet" href="{% static 'restaurants/css/filter.css' %}">
<link rel="stylesheet" href="{% static 'restaurants/css/card.css' %}">
{% endblock %}
{% block content %}
<section id="filters">
    <section id="categories_filter">
    {% for category in categories_list %}
        <span>
            <button type="button" data-category="{{ category.id }}"
                {% if category.id in disabled_categories %} class="disabled" {% else %} class="enabled" {% endif %}
            >
                <img src="{{ category.icon.url }}" alt="{{ category.name }} icon">
            </button>
        </span>
    {% endfor %}
    </section>
    <section id="search_section">
        <form method="POST" action="{% url 'restaurants:restaurant_list' %}" role="search" id="search_form">
            {% csrf_token %}
            <label for="search">Search</label>
            <input id="search" name="search" type="search" placeholder="Search restaurant"
                   {% if search %} value="{{ search }}" {% endif %}/>
            <input type="hidden" name="disabled_categories" id="disabled_categories"
                   value="{{ disabled_categories|join:',' }}" />
            <button type="submit">Apply</button>
            <button type="button" id="reset_filters">Reset</button>
        </form>
    </section>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#7d7abc" fill-opacity="1" d="M0,64L80,90.7C160,117,320,171,480,186.7C640,203,800,181,960,165.3C1120,149,1280,139,1360,133.3L1440,128L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
</section>

<section id="restaurants_list" class="container">
{% for restaurant in restaurant_list %}
    <div class="card">
<!--        <i class="favorite fa-regular fa-star"></i>-->
        <i class="favorite fa-solid fa-star fa-bounce"></i>
        <span><img src="{{ restaurant.category.icon.url }}"></span>
        <div class="card-content">
            <h3 class="card-title">{{ restaurant.name }}</h3>
            <p class="card-text">{{ restaurant.description }}</p>
            <p class="card-rating">4.5 <i class="fa-solid fa-star"></i></p>
        </div>
        <img class="card-image" src="{{ restaurant.image.url }}" alt="{{ restaurant.name }} image">
    </div>
{% endfor %}
</section>
{% endblock %}
{% block javascripts %}
<script src="{% static 'restaurants/js/filter.js' %}"></script>
{% endblock %}