{% extends 'base.html' %}
{% load static %}
{% block head%}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block extra_head %}{% endblock %}
{% endblock %}
{% block navbar %}
<nav>
    <div class="logo"><a href="{% url 'restaurants:restaurant_list' %}"><img src="{% static 'images/logo.png' %}" ></a></div>
    <ul class="nav-links">
      <li><a class="selected" href="{% url 'restaurants:restaurant_list' %}">Restaurants</a></li>
      <li><a href="#">Gourmet Roulette</a></li>
    </ul>
    <ul class="nav-user">
        {% if user.is_authenticated %}
            <li id="user">{{ user.username }}</a></li>
            <li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="login" type="submit">Log Out</button>
                </form>
            </li>
        {% else %}
            <li><a class="login" href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}